<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <sectionGroup name="worldSection" type=" GameFrameworkLibrary_MandatoryAssignment.Framework_Configurations.WorldSection, GameFrameworkLibrary_MandatoryAssignment">
      <section name="worldEnviron" type=" GameFrameworkLibrary_MandatoryAssignment.Framework_Configurations.GameEnvironment, GameFrameworkLibrary_MandatoryAssignment"/>
      <section name="settingSection" type=" GameFrameworkLibrary_MandatoryAssignment.Framework_Configurations.SettingSection, GameFrameworkLibrary_MandatoryAssignment"/>
    </sectionGroup>

  </configSections>

  <appSettings>
    <add key="logfile" value="sd/sdsd/sdwe/"/>
    <add key="worldY" value="100"/>
    <add key="worldX" value="100"/>
  </appSettings>
  <worldSection>
    <settingSection countrycode="US" isenabled='true' />
    <worldEnviron>

      <worldObjects>
        <objects name="gun" defencepoints="0" attackpoints="100" len="1"/>
        <objects name="shield" defencepoints="100" attackpoints="1" len="1"/>
      </worldObjects>

    </worldEnviron>
  </worldSection>
</configuration>